*{
    margin: 0.5rem;
}
h1{
    color: rgb(133, 89, 22);
}
h2,h3{
    color: chocolate;
}
body{
    background-image: linear-gradient(antiquewhite, white, antiquewhite );
    color: rgb(71, 71, 71);
}
.ingredientes, .modo_preparo{
    font-size: 18px;

}
a{
    text-decoration: none;
    background-color:rgb(122, 38, 38);
    border: 2px solid gray;
    border-radius: 4px;
    color: white;
}
